<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<?php
include "../vendor/autoload.php";
if (isset($_POST['strelka'])) {
    $dollar = new Classes\Converter($_POST['strelka']);
    print_r($_POST);

}
?>

<form action="?currency" method="post">

  <input type="text" name="strelka"

  <?php if (isset($_POST['strelka'])): ?>

  value="<?= $_POST['strelka'] ?>"

  <?php endif; ?>
  >

  <select name="convertion">
    <option value="dol">USD</option>
    <option value="eur">EUR</option>
    <option value="rub">RUB</option>
    <option value="uan">UAN</option>
    <option value="pln">PLN</option>
  </select>
  <input type="text" name="result"

  <?php if (isset($_POST['convertion'])): ?>

  value="<?= $dollar->{$_POST['convertion']}(); ?>"

  <?php endif; ?>
  >
  <input type="submit" value="calculation">
</form>
</body>
</html>

